:root {
    --blue: #04abbe;
    --light-blue: #6aeaf7;
    --transparent-light-blue: rgba(4, 171, 187, 0.41);

}

.text-blue {
    color: var(--blue);
}

.text-light-blue {
    color: var(--light-blue);
}

.bg-blue {
    background: var(--blue);
}

.bg-gradient-blue {
    background-image: linear-gradient(310deg, var(--blue), var(--light-blue));
}

.bg-transparent-blue {
    background: var(--transparent-light-blue);
}

.badge-pro {
    text-transform: uppercase;
    border-radius: .45rem;
    display: inline-block;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    padding: .55em .9em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.badge-primary {
    background-color: #f883dd;
    color: #a3017e;
}

.badge-secondary {
    background-color: #e4e8ed;
    color: #5974a2;
}

.badge-info {
    background-color: #abe9f7;
    color: #08a1c4;
}

.badge-success {
    background-color: #cdf59b;
    color: #67b108;
}

.badge-danger {
    background-color: #fc9797;
    color: #bd0000;
}

.badge-warning {
    background-color: #fef5d3;
    color: #fbc400;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin: 1em;
}

.fc .fc-button-group {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0.25rem;
}

.appointments-list {
    max-height: 50vh;
    overflow-y: auto;
}

.appointments-list .list-group-item {
    max-height: 50%;
}

.navbar-vertical .navbar-logo-img, .navbar-vertical .navbar-logo > img {
    max-height: 3rem;
    max-width: 80%
}


.sidenav-body {
    height: 60vh;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    scroll-behavior: smooth;
}
/*.sidenav-footer {*/
/*    width: 100%;*/
/*}*/

/*.user-profile {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

.user-info {
    display: flex;
    flex-direction: column;
}
.user-speciality {
    font-size: .70rem;
}

/* Styles pour la sidebar rétractée */
.collapsed {
    width: 80px;
    overflow-x: hidden;
}

/* Cache le texte des éléments de navigation dans la sidebar rétractée */
.sidenav.collapsed .nav-link-text {
    display: none;
}

/* Cache les sections de texte des utilisateurs dans la sidebar rétractée */
.sidenav.collapsed .user-info span,
.sidenav.collapsed .user-info small {
    display: none;
}

.sidenav.collapsed .icon {
    margin: 0 auto;
}

/* Ajuster la taille de l'image de profil dans la sidebar rétractée */
.sidenav.collapsed .avatar {
    width: 40px;
    height: 40px;
}

.sidenav.fixed-start + .main-content.expanded {
    margin-left: 8.5rem; /* Largeur de la sidebar rétractée */
}


.choices__inner {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #d2d6da;
    border-radius: .5rem;
    color: #adb5bd;
    display: block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.4rem;
    padding: .5rem .75rem;
    transition: box-shadow .15s ease, border-color .15s ease;
    width: 100%;
}

.choices[data-type*=select-multiple] .choices__button{
    border-left: 1px solid #fff;
}
.choices.is-focused{
    border-radius: .5rem;
    border-color: #e293d3;
    box-shadow: 0 0 0 2px #e9aede;
    color: #495057;
    outline: 0;
    z-index: 3
}
.choices__input {
    display: inline-block;
    vertical-align: baseline;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px;
}

.choices__list--dropdown, .choices__list[aria-expanded],
.choices[data-type*=select-multiple] .choices__inner, .choices[data-type*=text] .choices__inner {
    border: 1px solid #d2d6da;
    border-radius: .5rem;

}

.choices__list .choices__list--multiple {
    color: #adb5bd;
    opacity: 1
}
.choices__list--dropdown  {
    border: 1px solid #d2d6da;
    border-radius: .5rem;
}

.choices__list--dropdown .choices__item--selectable {
    background-color: #ffffff;
    color: #333;
}

.choices__list--multiple .choices__item{
    background-color: #04abbe;
    border: 1px solid #04abbe;
    border-radius: .5rem;
    font-size: 14px;
}

/* Multi-step form */
#container {
    max-width: 700px;
}

.step-container {
    position: relative;
    text-align: center;
    transform: translateY(-43%);
}

.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #04abbe;
    line-height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer; /* Added cursor pointer */
}

#multi-step-form{
    overflow-x: hidden;
}

.info-text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/*.animate-link:hover {*/
/*    color: #0056b3; !* Change la couleur au survol *!*/
/*}*/

.animate-link {
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    animation: moveRight 1s infinite alternate;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(5px);
    }
}

.glow-button {
    position: relative;
    overflow: hidden;
}

.glow-button:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.2);
    transform: rotate(30deg);
    pointer-events: none;
    animation: glow 2.5s infinite linear;
}

@keyframes glow {
    0% {
        transform: translate(-50%, -50%) rotate(60deg);
    }
    100% {
        transform: translate(150%, 150%) rotate(60deg);
    }
}
